@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body {
  background-color: #fef3e2;

  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;

  width: 100vw;
  height: 100vh;

  overflow-x: hidden;
}

.logForm-container {
  background-color: #708871;

  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

  width: 50vw;
  height: 75vh;

  margin-left: 25vw;
  margin-top: 12.5vh;

  justify-content: center;
  align-items: center;
}

.logForm-container-element {
  width: 100%;
  height: 100%;

  padding: 2%;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 2%;
}

.logForm-form {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(15vh, 5);

  justify-content: center;
  align-items: center;
}

.logForm-submit {
  align-items: center;
  height: auto;
  width: 75%;
}

.text-center {
  text-align: center;
}

#UsernameInput {
  display: none;
}

.logForm-toggle-container {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;

  align-items: center;
}

.logForm-toggle {
  margin-left: 12.5%;
}

.navbar {
  background-color: #708871 !important;
}

.ProfilePage-container {
  width: 100vw;
  height: 100vh;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 2fr 2fr;

  gap: 1vh;
}

.ProfilePage-container h2 {
  font-size: 45px;
  animation: fadeIn 1s;

  height: 100%;
}

.ProfilePage-container h3 {
  font-size: 30px;
  animation: fadeIn 1s;

  height: 100%;
}

.ProfilePage-card-container {
  width: 100vw;
  height: 100%;

  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;

  align-items: center;
  justify-content: center;
}
.address-selector-container {
  width: 100vw;
  height: 29.2vh;

  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;

  align-items: center;
  justify-content: center;
}

.Address-para-container {
  width: 100vw;
  height: 100%;

  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;

  align-items: center;
  justify-content: center;
}

.ProfilePage-AddressForm-container {
  display: grid;
  grid-template-columns: 50vw 50vw;
  grid-template-rows: 100%;

  align-self: center;
  justify-self: center;
}

.HorizontalCard-container {
  margin-left: 6.125vw;
}

.Address-para {
  align-self: center;
  justify-self: center;

  width: 50%;

  border: solid black 1px;
}

.dropdown {
  align-self: center;
  justify-self: center;
}

.span-col-2 {
  grid-column: span 2;
}

.ProfilePage-button-container {
  width: 100vw;
  height: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;

  justify-content: center;
  align-items: center;
}

.button-define {
  width: 15vw;
  height: 5vh;

  align-self: center;
  justify-self: center;

  margin-left: 2.5vw;
}

.navbar {
  padding-right: 1vw;
}

.WishlistPage-container,
.CartPage-container {
  width: 100vw;

  display: grid;
  grid-template-columns: 80vw;
  grid-template-rows: 5vh 30vh;
  grid-auto-rows: 30vh;

  gap: 2vw;

  color: #fef3e2;
}

.CartWishlistProdCard-container {
  width: 80vw;
  height: 100%;

  background-color: #606676;

  margin-left: 8vw;

  display: grid;
  grid-template-columns: 25vw 50vw;
  grid-template-rows: 100%;
  gap: 5vw;

  border-radius: 5px;
}

.CartWishlistProdCard-details {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 15% 10% 60%;
  gap: 10%;
}

.ProductCard-container {
  height: 40vh;
  width: 15vw;

  display: grid;
  grid-template-columns: 15vw;
  grid-template-rows: 16vh 24vh;

  border-radius: 5px;

  position: relative;
}

.ProductCard-container img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.ProductCard-details {
  background-color: #606676;
  color: #fef3e2;

  padding: 3%;

  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 20% 15% 35% 20%;
  gap: 5%;
}

.ProductTypeCard-container {
  margin-left: 2.5vw;
}

.ProductTypeCard-showcase {
  height: 50vh;
  width: 95vw;

  margin-top: 5vh;

  display: grid;
  grid-template-columns: 15vw 15vw;
  grid-auto-columns: 15vw;
  grid-template-rows: 40vh;

  gap: 1vw;

  grid-auto-flow: column;
}

.ProductTypeCard-header {
  width: 95vw;
  height: 7.5vh;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100%;

  position: relative;
}

.ProductTypeCard-header button {
  width: 7.5vw;
  height: 7.5vh;
  position: absolute;
  right: 0;

  background-color: transparent;
  margin: none;
}

.wishlist-button {
  background-color: transparent;
  border: none;
}

.wishlist-button img {
  width: 2vw;
  height: 2vw;
}

.wishlist-button-container {
  position: absolute;

  top: 0.1vw;
  right: 0.1vh;

  z-index: 1;
}
