@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body {
  background-color: #e9ecef;

  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;

  width: 100vw;
  height: 100vh;

  overflow-x: hidden;
}

.logForm-container {
  background-color: #708871;

  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

  width: 50vw;
  height: 75vh;

  margin-left: 25vw;
  margin-top: 12.5vh;

  justify-content: center;
  align-items: center;
}

.logForm-container-element {
  width: 100%;
  height: 100%;

  padding: 2%;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 2%;
}

.logForm-form {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(15vh, 5);

  justify-content: center;
  align-items: center;
}

.logForm-submit {
  align-items: center;
  height: auto;
  width: 75%;
}

.text-center {
  text-align: center;
}

#UsernameInput {
  display: none;
}

.logForm-toggle-container {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;

  align-items: center;
}

.logForm-toggle {
  margin-left: 12.5%;
}

.navbar {
  background-color: #6c757d !important;
}

.ProfilePage-container {
  width: 100vw;
  height: 100vh;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 2fr 2fr;

  gap: 1vh;
}

.ProfilePage-container h2 {
  font-size: 45px;
  animation: fadeIn 1s;

  height: 100%;
}

.ProfilePage-container h3 {
  font-size: 30px;
  animation: fadeIn 1s;

  height: 100%;
}

.ProfilePage-card-container {
  width: 100vw;
  height: 100%;

  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;

  align-items: center;
  justify-content: center;
}
.address-selector-container {
  width: 100vw;
  height: 29.2vh;

  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;

  align-items: center;
  justify-content: center;
}

.Address-para-container {
  width: 100vw;
  height: 100%;

  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;

  align-items: center;
  justify-content: center;
}

.ProfilePage-AddressForm-container {
  display: grid;
  grid-template-columns: 50vw 50vw;
  grid-template-rows: 100%;

  align-self: center;
  justify-self: center;
}

.HorizontalCard-container {
  margin-left: 6.125vw;
}

.Address-para {
  align-self: center;
  justify-self: center;

  width: 50%;

  border: solid black 1px;
}

.dropdown {
  align-self: center;
  justify-self: center;
}

.span-col-2 {
  grid-column: span 2;
}

.ProfilePage-button-container {
  width: 100vw;
  height: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;

  justify-content: center;
  align-items: center;
}

.button-define {
  width: 15vw;
  height: 5vh;

  align-self: center;
  justify-self: center;

  margin-left: 2.5vw;
}

.navbar {
  padding-right: 1vw;
}

.SearchPage {
  margin: 2vw 2vh;

  height: auto;
  min-height: 85vh;

  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr;
}

.SearchPage > div {
  border: solid black 1px;
  padding: 0.75vw;
}

.SearchPage > div:first-child {
  border-right: none;
}

.SearchPage > div > h1 {
  text-align: center;
}

.FilterSection > div {
  height: 60vh;
  width: 100%;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;

  gap: 4vh;

  align-items: center;
  justify-content: center;
}

.FilterSection > div > select {
  max-height: 5vh;
}

.SearchCard {
  width: 100%;
  height: 30vh;
  max-height: 30vh;
  border: solid black 1px;

  padding: 1vw;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;

  margin-bottom: 2vh;
}

#nav-ul > button {
  text-decoration: none !important;
}

.productPageCont {
  width: 95vw;
  height: 84vh;
  margin-left: 2.5vw;
  margin-top: 4vh;

  border: solid black 1px;

  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;

  justify-content: center;
  align-items: center;
}

.productPageCont > div {
  border: solid green 1px;
  height: 100%;
  width: 100%;

  display: grid;
  justify-content: center;
  align-items: center;
}

.productPageCont > div:first-child {
  grid-column: span 2;
}

.productPageCont > div:nth-child(3) {
  grid-row: span 2;
}

.productPageCont > div:last-child {
  grid-row: span 2;
  grid-column: span 2;
}

.productPageCont img {
  width: inherit;
  height: inherit;

  object-fit: cover;
}

.productPageCont > div:has(img) {
  overflow: hidden;
}

.productPageCont p {
  font-size: 3vh;
}

.productPageCont > div:has(button) {
  grid-template-columns: 1fr 1fr;
}
.productPageCont > div > button {
  width: 50%;
  margin-left: 25%;
}
