@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body {
  background-color: #e9ecef;

  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;

  width: 100vw;
  height: 100vh;

  overflow-x: hidden;
}

.text-center {
  text-align: center;
}

#UsernameInput {
  display: none;
}

.navbar {
  background-color: #6c757d !important;
}

.address-selector-container {
  width: 100vw;
  height: 29.2vh;

  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;

  align-items: center;
  justify-content: center;
}

.Address-para-container {
  width: 100vw;
  height: 100%;

  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;

  align-items: center;
  justify-content: center;
}


.button-define {
  width: 15vw;
  height: 5vh;

  align-self: center;
  justify-self: center;

  margin-left: 2.5vw;
}

.navbar {
  padding-right: 1vw;
}

#nav-ul > button {
  text-decoration: none !important;
}

.productPageCont {
  width: 95vw;
  height: 84vh;
  margin-left: 2.5vw;
  margin-top: 4vh;

  border: solid black 1px;

  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;

  justify-content: center;
  align-items: center;
}

.productPageCont > div {
  border: solid green 1px;
  height: 100%;
  width: 100%;

  display: grid;
  justify-content: center;
  align-items: center;
}

.productPageCont > div:first-child {
  grid-column: span 2;
}

.productPageCont > div:nth-child(3) {
  grid-row: span 2;
}

.productPageCont > div:last-child {
  grid-row: span 2;
  grid-column: span 2;
}

.productPageCont img {
  width: inherit;
  height: inherit;

  object-fit: cover;
}

.productPageCont > div:has(img) {
  overflow: hidden;
}

.productPageCont p {
  font-size: 3vh;
}

.productPageCont > div:has(button) {
  grid-template-columns: 1fr 1fr;
}
.productPageCont > div > button {
  width: 50%;
  margin-left: 25%;
}
