.logFormContainer {
  background-color: #adb5bd;

  box-shadow: 10px 10px 20px rgb(0, 0, 0, 0.3),
    -10px -10px 20px rgb(0, 0, 0, 0.3);

  border: solid gray 0.5px;

  width: 50vw;
  height: 75vh;

  margin-left: 25vw;
  margin-top: 12.5vh;

  justify-content: center;
  align-items: center;

  border-radius: 10px;
}

.logFormContainerElement {
  width: 100%;
  height: 100%;

  padding: 2%;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 2%;
}

.logFormForm {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(15vh, 5);

  justify-content: center;
  align-items: center;
}

.logFormSubmit {
  align-items: center;
  height: auto;
  width: 75%;
}

.logFormToggleContainer {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;

  align-items: center;
}

.logFormToggle {
  margin-left: 12.5%;
}

.textCenter {
  text-align: center;
}

.logFormContainer button {
  min-height: 5vh;
  min-width: 10vw;

  background-color: transparent;
  border-radius: 10px;

  border: solid black 1px;

  transition: all 0.3s ease-in-out;
}

.logFormContainer button:hover {
  background-color: #343a40;

  color: white;

  border: solid white 1px;
}

.submitDiv {
  width: 100%;
  height: 100%;

  display: grid;

  justify-content: center;
  align-items: center;
}
